
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Grabar</title>
</head>
<body>
    <div>

        <form method="post" action="/Home/Grabar">
            Descripcion:
            <input type="text" name="descripcion" />
            <br />
            Precio:
            <input type="text" name="precio" />
            <br />
            <input type="submit" value="Confirmar" />

        </form>
    </div>
</body>
</html>
