
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductoNoExistente</title>
</head>
<body>
    <div> 
        <p>EL codigo del Producto Ingresado no existe</p>                
        @Html.ActionLink("Retornar","Index")
    </div>
</body>
</html>
